<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhangke.notiontodo">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotionTodo">
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".addpage.AddPageActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />

        <activity
            android:name=".addblock.AddBlockActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".setting.SettingActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" >
        </activity>
    </application>

</manifest>