<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhangke.notionlight">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.zhangke.notionlight.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotionTodo">
        <activity
            android:name="com.zhangke.notionlight.main.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.zhangke.notionlight.pagemanager.AddPageActivity"
            android:exported="true" />

        <activity
            android:name="com.zhangke.notionlight.setting.SettingActivity"
            android:exported="true" />

        <activity
            android:name="com.zhangke.notionlight.pagemanager.PageManagerActivity"
            android:exported="true" />

        <activity
            android:name="com.zhangke.notionlight.code.OpenSourceActivity"
            android:exported="true" />

        <activity
            android:name="com.zhangke.notionlight.editblock.EditBlockActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.NotionTodo.Transparent" >

            <intent-filter>
                <action android:name="com.zhangke.notion.ADD_BLOCK" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.zhangke.notionlight.setting.HelpActivity"
            android:exported="true" />

        <activity
            android:name="com.zhangke.notionlight.auth.AuthorizationActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.NotionTodo.Transparent">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="notionauth.zhangkenotion.net"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".draft.DraftBoxActivity"
            android:exported="true" />
    </application>
</manifest>